#body_page{
  display: flex;
  flex-direction: row;
}
#side_bar{
  background-color:brown;
  display:flex;
  flex-direction: column;
  justify-content:center;
  height: 100vh;
  width: 30vw;
}
#menu{
  list-style-type:none;
}
#navagtor{
  
}
